/* CORPO */
body {
    margin: 6%;
}

/* FONTES */
h2, p, label, a, li  {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

form {
    flex-direction: column;
    display: flex;
}

input {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    padding: 10px;
    border: 0px;
}

a {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
    background-color: rgb(26, 89, 172);
    transition: transform 0.3s ease;
    border-radius: 20px;
    padding: 10px 100px;
    width: fit-content;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    border: 0px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-content {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    animation: aparecer 0.3s ease;
  }
  
  @keyframes aparecer {
    from { transform: scale(0.8); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
  }
  
  .popup-content button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #0077cc;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .popup-content button:hover {
    background: #005fa3;
  }

  
  #lista_compra {

  }