/* CORPO */
body {
    margin: 6%;
}

/* FONTES */
h2, p, label, a, li {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}


form {
    background: linear-gradient(30deg,  rgb(28, 113, 194),  rgb(83, 157, 226));
    flex-direction: column;
    font-weight: bold;
    border-radius: 20px;
    padding: 30px;
    display: flex;
}

input {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px;
    border: 0px;
}

a {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
    background-color: rgb(26, 89, 172);
    transition: transform 0.3s ease;
    border-radius: 20px;
    padding: 10px 100px;
    width: fit-content;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    border: 0px;
}

#botao5  {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
    transition: transform 0.3s ease;
    border-radius: 20px;
    padding: 10px 100px;
    width: fit-content;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    border: 0px;
  }
